/* augšējās daļas izskata mainīgie */
#top {
    border-bottom: 3px solid black;
    margin: 30px 20px 0;
    padding: 0 10px 5px;
}
#top a.btn {
    width: 150px;
    height: 40px;
    padding: 8px 0;
}

/* kājenes izskata mainīgie */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
#bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
    padding-top: 10px;
}

/* veikala satura kāršu izskats */
.col.card {
    margin: 10px auto;
    padding: 20px;
    width: 250px;
    height: 200px;
}
.col.card > input {
    min-height: 20px;
    min-width: 20px;
    z-index:1;
}
.cardContents { margin-top: -20px; }
.cardContents > .name { font-weight: bold; }
.price {
    font-style: italic;
    margin-bottom: 0;
}
.price::after { content: " $"; }

/* inventāra pievienošanas formas izskats */
#product_form { padding: 50px 5px 10px; }
#product_form .row { margin-bottom: 5px; }
#product_form > .row > label { width: 100px; }
#product_form > .row > input { width: 300px; }
#product_form > .row:nth-child(4) > label { width: 150px; }
#product_form > .row > select { width: 250px; }

#itemProperties > div { display: none }
#itemProperties > div label { width: 125px; }
#itemProperties > div input { width: 275px; }

/* error lapu paskats */
#errorPage { margin-top: 30vh; }
#errorPage > .btn { margin-top: 2vh }