#top {
    border-bottom: 3px solid black;
    margin: 30px 20px 0;
    padding: 0 10px 5px;
}
#top > #buttonPair > button {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
}

#bottom {
    border-top: 1px solid black;
    padding-top: 10px;
    height:40px;
}

.bodies {
    margin: 10px 30px;
}

/* veikala satura kāršu izskats */
.col.card {
    margin: 10px auto;
    padding: 20px;
    width: 275px;
    height: 200px;
}
.cardContents { margin-top: 15px; }
.cardContents > p { line-height: 10px; }
.name { font-style: bold; }
.price { font-style: italic; }
.price::after { content: " $"; }