/* augšējās daļas izskata mainīgie */
#top {
    border-bottom: 3px solid black;
    margin: 30px 20px 0;
    padding: 0 10px 5px;
}
#top > #buttonPair > button {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
}

/* apakšējās daļas izskata mainīgie */
#bottom {
    border-top: 1px solid black;
    padding-top: 10px;
    height:40px;
}

.bodies {
    padding: 10px 0;
}

/* veikala satura kāršu izskats */
.col.card {
    margin: 10px auto;
    padding: 20px;
    width: 250px;
    height: 200px;
}
.cardContents { margin-top: 15px; }
.cardContents > p { line-height: 10px; }
.name { font-style: bold; }
.price { font-style: italic; }
.price::after { content: " $"; }

/* inventāra pievienošanas formas izskats */
#product_form .row { margin-bottom: 5px; }
#product_form > .row > label { width: 100px; }
#product_form > .row > input { width: 300px; }
#product_form > .row:nth-child(4) > label { width: 150px; }
#product_form > .row > select { width: 250px; }

#itemProperties > div label { width: 125px; }
#itemProperties > div input { width: 275px; }